.table-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5px;
  overflow: hidden;
  border-color: #77f;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #ddf;
}
td {
  padding: 10px;
}
td:nth-child(1) {
  min-width: 140px;
}
td:nth-child(2) {
  text-align: right;
}
