.room td:nth-child(1) {
  padding: 0px !important;
}
.room td:nth-child(2) {
  padding: 0px !important;
  text-align: right;
}
tr.room:nth-child(even) {
  background-color: #eef;
}
tr.room:hover {
  background-color: #ddf !important;
}

.room a {
  display: block;
  height: 100%;
  width: calc(100% - 20px);
  padding: 10px;
  text-decoration: none;
  color: black;
}
