/* ---------- General ---------- */
h1 {
  margin-top: 0px;
}

/* Custom inputs */
input[type="text"],
input[type="number"],
input[type="submit"],
button {
  background-color: #fff;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 3px 5px;
  margin: 4px 0px;
  border-color: blue;
  width: 100%;
  height: 40px;
}

input[type="number"],
input[type="text"] {
  width: calc(100% - 14px);
  height: calc(40px - 10px);
}
button,
input[type="submit"] {
  color: blue;
}
button:hover,
input[type="submit"]:hover {
  background-color: #eef;
}
button:disabled,
input[type="submit"]:disabled {
  color: #aaf !important;
  border-color: #aaf !important;
  background-color: #eef !important;
}
button:disabled:hover,
input[type="submit"]:disabled:hover {
  background-color: #eef !important;
}

/* Hide up and down buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ---------- Layoyt ---------- */
.content {
  max-width: 25em;
  margin: auto;
  padding: 30px;
  padding-top: 20px;
}

/* ---------- Index ---------- */
.table-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5px;
  overflow: hidden;
  border-color: #77f;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #ddf;
}
td {
  padding: 10px;
}
td:nth-child(1) {
  min-width: 140px;
}
td:nth-child(2) {
  text-align: right;
}

.red,
.red a {
  color: red !important;
  border-color: red !important;
}
.red:disabled {
  color: #faa !important;
  border-color: #faa !important;
  background-color: #fee !important;
}
.red:hover {
  background-color: #fee !important;
}

/* ---------- Word ---------- */
.word {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 20px;
  border-color: blue;
  width: calc(100% - 44px);
  margin-bottom: 5px;
}
