/* ---------- General ---------- */
input[type="text"],
input[type="number"],
input[type="submit"],
button {
  background-color: #fff;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 3px 5px;
  margin: 10px 0px;
  width: fit-content;
  border-color: blue;
}
button,
input[type="submit"] {
  color: blue;
}
button:hover,
input[type="submit"]:hover {
  background-color: #eef;
}
button:disabled {
  color: #aaf !important;
  border-color: #aaf !important;
  background-color: #eef !important;
}
button:disabled:hover {
  background-color: #eef !important;
}
button a {
  text-decoration: none;
  color: blue;
}

/* Hide up and down buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ---------- Index ---------- */
.content {
  margin: 10px;
}

.table-container {
  border-style: solid;
  width: fit-content;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5px;
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #ddf;
}
td {
  padding: 5px;
}

.red,
.red a {
  color: red !important;
  border-color: red !important;
}
.red:hover {
  background-color: #fee !important;
}

/* ---------- Word ---------- */
.word {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 20px;
  width: fit-content;
  margin-bottom: 20px;
}
.word h1 {
  margin: 0px;
}
