.main-action input {
  height: 86px;
}

.confirm {
  padding: 10px;
  padding-bottom: 6px;
  background-color: #eef;
  border-radius: 5px;
}
.confirm p {
  margin: 0px;
}
.confirm .confirm-buttons {
  display: grid;
  column-gap: 5px;
  grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
}

td:nth-child(1) {
  min-width: 140px;
}
td:nth-child(2) {
  text-align: right;
}
tr:nth-child(even) {
  background-color: #ddf;
}
