{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block content %}

<h1>Lappupeli</h1>

<h3>Valitse huone tai luo uusi huone</h3>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Huoneen nimi</th>
            </tr>
        </thead>
        <tbody>
            {% if rooms | length == 0 %}
            <tr>
                <td>Ei huoneita</td>
            </tr>
            {% endif %}
            {% for room_name in rooms %}
            <tr class="room">
                <td><a href="/room/{{room_name | urlencode}}">{{room_name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br />
<form method="post">
    <label for="room_name">Lisää huone:</label>
    <br />
    <div class="input-container">
        <input id="room_name" type="text" name="room_name" placeholder="Huoneen nimi" />
        <input type="submit" value="Lisää huone" />
    </div>
</form>

{% endblock %}