<h1>Lappupeli</h1>
<p>Varastossa olevien sanojen määrä {{words | length}}</p>
<p>Tällä hetkellä näytettävien sanojen määrä {{player_words | length}}</p>
<p>Pelaajamäärä {{players}}</p>
<a href="/word">Saa lappu</a>
<br />
<a href="/start">Aloita peli (Siirrä sana varastosta näytettäviin sanoihin</a>

<hr />

<form method="post">
    Lisää sana:
    <input type="text" name="word" />
    <br />
    Pelaajien määrä:
    <input type="number" name="players" value="{{players}}" />
    <input type="submit" value="submit" />
</form>


<a href="/clear">TYHJENNÄ SANAT</a>