<!DOCTYPE html>
<html>

<head>
    <title>Sanapeli</title>
    <link rel="stylesheet" href="/static/layout.css">
    {% block stylesheet %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% if session.username and not error %}
    <div class="footer">
        <p>{{session.username}}</p>
        <form action="/logout">
            <input type="submit" value="Kirjaudu ulos" />
        </form>
        <form action="/">
            <input type="submit" value="Takaisin etusivulle" />
        </form>
    </div>
    {% endif %}
</body>

</html>