{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/room.css">
{% endblock %}
{% block content %}

<h1>{{room_name}}</h1>
<div class="table-container">
    <table>
        <tbody>
            {% if not in_game %}
            <tr>
                <td>Sanojen määrä</td>
                <td>{{word_count}}</td>
            </tr>
            {% endif %}
            {% if round_in_progress %}
            <tr>
                <td>Lapun lukeneet</td>
                <td>{{seen_count}}</td>
            </tr>
            {% endif %}
            <tr>
                {% if round_in_progress %}
                <td>Pelaajien määrä</td>
                <td>{{seen_count}}</td>
                {% else %}
                <td>Valmiiden pelaajien määrä</td>
                <td>{{ready_player_count}}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Edellinen sana</td>
                {% if config.previous_word %}
                <td>{{config.previous_word}}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

<!-- We hopefully won't need this in the future -->
<form action="/room/{{room_name | urlencode}}">
    <input type="submit" value="Päivitä sivu" />
</form>

{% if round_in_progress %}
<form class="main-action" action="/room/{{room_name | urlencode}}/word">
    {% if in_game and not seen %}
    <input type="submit" value="Katso uusi lappu" />
    {% elif in_game %}
    <input type="submit" value="Katso lappusi" />
    {% else %}
    <input type="submit" disabled value="Et ole kierroksella mukana" />
    {% endif %}
</form>
{% else %}
<form class="main-action" method="post">
    {% if word_count == 0 %}
    <input type="submit" disabled value="Sanoja ei ole" />
    {% elif not ready %}
    <input type="submit" name="be_ready" value="Liity seuraavaan kierrokseen" />
    {% else %}
    <input class="red" type="submit" name="unbe_ready" value="Poistu seuraavaasta kierroksesta" />
    {% endif %}
</form>
{% endif %}

<br />
<form method="post">
    <label for="word">Lisää sana:</label>
    <br />
    <div class="input-container">
        <input id="word" type="text" name="word" placeholder="Sana" />
        <input type="submit" value="Lisää" />
    </div>
</form>


<!-- Admin area / button to get admin -->
{% if session.username != config.admin_username %}
<br />
{% if config.admin_username %}
Tämänhetkinen GM on <strong>{{config.admin_username}}</strong>
{% else %}
Kukaan ei ole GM
{% endif %}
<form method="post">
    <input name="be_admin" type="submit" value="Ole GM" />
</form>
{% else %}
<h2 style="margin-bottom: 10px">GMAlue</h2>

{% if session.confirm %}
<div class="confirm">
    <p>{{session.confirm_message}}</p>
    <form method="post">
        <div class="confirm-buttons">
            <input type="submit" class="red" name="confirm" value="Varmista" />
            <input type="submit" name="cancel" value="Peruuta" />
        </div>
    </form>
</div>
<br />
{% endif %}

<form method="post">
    {% if round_in_progress %}
    <input type="submit" name="end_round" value="Lopeta kierros" />
    {% elif word_count > 0 and ready_player_count >= 2 %}
    <input type="submit" name="start_round" value="Aloita kierros" />
    {% else %}
    <input type="submit" value="Aloita kierros" disabled />
    {% endif %}

    <input name="unbe_admin" type="submit" value="Älä ole GM" />
    <input type="submit" name="reset_room" class="red" value="POISTA KAIKKI SANAT" {% if no_words and words | length==0
        %} disabled {% endif %} />
    <input name="delete_room" type="submit" class="red" value="POISTA HUONE" />
</form>
{% endif %}

{% endblock %}